{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["jest-formatting", "jest"],
  "rules": {
    "jest-formatting/padding-before-test-blocks": 2,
    "jest-formatting/padding-before-describe-blocks": 2
  },
  "env": {
    "jest/globals": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["**.*"],
      "rules": {
        "camelcase": "off"
      }
    }
  ]
}
